html {
  background-color: black;
  color: white;
  height: 100%;
  font-family: "Nimbus Sans", "Helvetica", sans-serif;
}
body {
}
h1 {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}
footer {
  bottom: 0;
  right: 0;
  position: absolute;
  color: #444;
}
ul#cc {
  width: 100%;
}
ul#cc li {
  font-size: 32px;
  font-weight: bold;
  padding: 8px 16px;
  margin-bottom: 8px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: white;
}
ul#cc li.Failure {
  background-color: #700;
}
ul#cc li.Success {
  background-color: #070;
}
ul#cc li.Failure.Building {
  background-color: #a30;
}
ul#cc li.Success.Building {
  background-color: #3a0;
}
ul#cc li.Success.Building,
ul#cc li.Failure.Building {
  border: 4px solid white;
  font-size: 64px;
}
ul#cc li.Failure.Building p {
  background: transparent url("spinner-failure.gif") no-repeat right center;
}
ul#cc li.Success.Building p {
  background: transparent url("spinner-success.gif") no-repeat right center;
}
