html {
  background-color: black;
  color: white;
  height: 100%;
  font-family: "Liberation Sans", "Nimbus Sans", "Helvetica", sans-serif;
  font-size: 110px;
  overflow: hidden;
}
footer {
  bottom: 0;
  right: 0;
  position: absolute;
  color: #444;
  font-size: 12px;
}
h1, li {
  font-weight: bold;
  padding: 0.1em 0.2em;
  margin: 0 0.2em 0.2em 0;
  border-radius: 0.15em;
  float: left;
  border: 0.05em solid transparent;
}
h1 {
  border-color: white;
}
.Failure {
  background-color: #700;
}
.Success {
  background-color: #070;
}
.Failure p::before {
  content: url(skull.png);
  padding-right: 0.15em;
}
@-webkit-keyframes green-throb {
  50% { background-color: #0d0; }
}
@-webkit-keyframes orange-throb {
  50% { background-color: #d70; }
}
.Building {
  border-color: white;
}
.Building.Failure {
  -webkit-animation: orange-throb 2s infinite;
}
.Building.Success {
  -webkit-animation: green-throb 2s infinite;
}
