html {
  background-color: black;
  color: white;
  height: 100%;
  font-family: "Liberation Sans", "Nimbus Sans", "Helvetica", sans-serif;
  font-size: 140px;
  overflow: hidden;
}
.unhealthy {
  background-color: #900;
}
footer p {
  bottom: 0;
  position: absolute;
  color: #444;
  font-size: 12px;
}
#lastUpdate {
  left: 0;
}
#status {
  right: 0;
}
li {
  font-weight: bold;
  padding: 0.1em 0.2em;
  margin: 0 0.2em 0.2em 0;
  -moz-border-radius: 0.15em;
  border-radius: 0.15em;
  float: left;
  border: 0.05em solid transparent;
}
.Success {
  background-color: #070;
}
.Failure {
  background: #900 url(skull.png) no-repeat;
  -moz-background-size: contain;
  background-size: contain;
  padding-left: 1.4em;
}
@-webkit-keyframes green-throb {
  50% { background-color: #0d0; }
}
@-webkit-keyframes orange-throb {
  50% { background-color: #d70; }
}
.Building {
  border-color: white;
}
.Building.Success {
  -webkit-animation: green-throb 2s infinite;
}
.Building.Failure {
  -webkit-animation: orange-throb 2s infinite;
}
.Unknown {
  background-color: #444;
  color: #888;
}
